In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
import pandas as pd
import tensorflow as tf
import os

data = os.path.join("Resources","bank_telemarketing.csv")

# Import our input dataset
tele_df = pd.read_csv(data)
tele_df.head()

C:\Users\p-d-const127b\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\p-d-const127b\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\p-d-const127b\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\p-d-const127b\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\p-d-const127b\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\p-d-const127b\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
C:\Users\p-d-const127b\Anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\p-d-const127b\Anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\p-d-const127b\Anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\p-d-const127b\Anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\p-d-const127b\Anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\p-d-const127b\Anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

,Age,Job,Marital_Status,Education,Default_Credit,Housing_Loan,Personal_Loan,Subscribed
0,56,other,married,Primary_Education,no,no,no,no
1,37,services,married,Secondary_Education,no,yes,no,no
2,40,admin,married,Primary_Education,no,no,no,no
3,56,services,married,Secondary_Education,no,no,yes,no
4,59,admin,married,Professional_Education,no,no,no,no

In [3]:
# Generate our categorical variable list
tele_cat = tele_df.dtypes[tele_df.dtypes == "object"].index.tolist()


# Check the number of unique values in each column
tele_df[tele_cat].nunique()

Job               9
Marital_Status    3
Education         4
Default_Credit    2
Housing_Loan      2
Personal_Loan     2
Subscribed        2
dtype: int64

In [4]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(tele_df[tele_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(tele_cat)
encode_df.head()

,Job_admin,Job_blue-collar,Job_entrepreneur,Job_management,Job_other,Job_retired,Job_self-employed,Job_services,Job_technician,Marital_Status_divorced,...,Education_Secondary_Education,Education_Tertiary_Education,Default_Credit_no,Default_Credit_yes,Housing_Loan_no,Housing_Loan_yes,Personal_Loan_no,Personal_Loan_yes,Subscribed_no,Subscribed_yes
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0

In [6]:
# Merge one-hot encoded features and drop the originals
tele_df = tele_df.merge(encode_df,left_index=True, right_index=True)
tele_df = tele_df.drop(tele_cat,1)
tele_df.head()

,Age,Job_admin,Job_blue-collar,Job_entrepreneur,Job_management,Job_other,Job_retired,Job_self-employed,Job_services,Job_technician,...,Education_Secondary_Education,Education_Tertiary_Education,Default_Credit_no,Default_Credit_yes,Housing_Loan_no,Housing_Loan_yes,Personal_Loan_no,Personal_Loan_yes,Subscribed_no,Subscribed_yes
0,56,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
1,37,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
2,40,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
3,56,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
4,59,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0

In [7]:
# Remove loan status target from features data
y = tele_df.Subscribed_yes.values
X = tele_df.drop(columns=["Subscribed_no","Subscribed_yes"]).values

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [8]:
# Create the SVM model
svm = SVC(kernel='linear')

In [9]:
# Train the model
svm.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [10]:
# Evaluate the model
y_pred = svm.predict(X_test_scaled)
print(f" SVM model accuracy: {accuracy_score(y_test,y_pred):.3f}")

 SVM model accuracy: 0.873

In [11]:
# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  10
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

WARNING:tensorflow:From C:\Users\p-d-const127b\Anaconda3\lib\site-packages\tensorflow\python\ops\init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
WARNING:tensorflow:From C:\Users\p-d-const127b\Anaconda3\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [16]:
# Train the model 
fit_model = nn.fit(X_train_scaled, y_train, epochs=50) 
# Evaluate the model using the test data 
model_loss, model_accurancy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accurancy}")

Epoch 1/50
22857/22857 [==============================] - 1s 33us/sample - loss: 0.4115 - acc: 0.8643
Epoch 2/50
22857/22857 [==============================] - 1s 28us/sample - loss: 0.3722 - acc: 0.8734
Epoch 3/50
22857/22857 [==============================] - 1s 28us/sample - loss: 0.3697 - acc: 0.8735
Epoch 4/50
22857/22857 [==============================] - 1s 29us/sample - loss: 0.3683 - acc: 0.87350s - loss: 0.3666 - a
Epoch 5/50
22857/22857 [==============================] - 1s 28us/sample - loss: 0.3677 - acc: 0.8735
Epoch 6/50
22857/22857 [==============================] - 1s 28us/sample - loss: 0.3673 - acc: 0.8735
Epoch 7/50
22857/22857 [==============================] - 1s 29us/sample - loss: 0.3666 - acc: 0.87340s - loss: 0.3769 -
Epoch 8/50
22857/22857 [==============================] - 1s 31us/sample - loss: 0.3663 - acc: 0.8735
Epoch 9/50
22857/22857 [==============================] - 1s 31us/sample - loss: 0.3661 - acc: 0.8735
Epoch 10/50
22857/22857 [==============================] - 1s 31us/sample - loss: 0.3656 - acc: 0.87360s - loss: 0.3603 - acc:
Epoch 11/50
22857/22857 [==============================] - 1s 31us/sample - loss: 0.3652 - acc: 0.8735
Epoch 12/50
22857/22857 [==============================] - 1s 31us/sample - loss: 0.3653 - acc: 0.8733
Epoch 13/50
22857/22857 [==============================] - 1s 29us/sample - loss: 0.3649 - acc: 0.8735
Epoch 14/50
22857/22857 [==============================] - 1s 29us/sample - loss: 0.3648 - acc: 0.8735
Epoch 15/50
22857/22857 [==============================] - 1s 29us/sample - loss: 0.3645 - acc: 0.8734
Epoch 16/50
22857/22857 [==============================] - 1s 31us/sample - loss: 0.3644 - acc: 0.8735
Epoch 17/50
22857/22857 [==============================] - 1s 32us/sample - loss: 0.3641 - acc: 0.8736
Epoch 18/50
22857/22857 [==============================] - 1s 33us/sample - loss: 0.3641 - acc: 0.8737
Epoch 19/50
22857/22857 [==============================] - 1s 30us/sample - loss: 0.3638 - acc: 0.8734
Epoch 20/50
22857/22857 [==============================] - 1s 30us/sample - loss: 0.3636 - acc: 0.8738
Epoch 21/50
22857/22857 [==============================] - 1s 30us/sample - loss: 0.3636 - acc: 0.8736
Epoch 22/50
22857/22857 [==============================] - 1s 41us/sample - loss: 0.3635 - acc: 0.87350s - loss: 0.3
Epoch 23/50
22857/22857 [==============================] - 1s 36us/sample - loss: 0.3635 - acc: 0.8737
Epoch 24/50
22857/22857 [==============================] - 1s 30us/sample - loss: 0.3635 - acc: 0.8735
Epoch 25/50
22857/22857 [==============================] - 1s 31us/sample - loss: 0.3631 - acc: 0.8734
Epoch 26/50
22857/22857 [==============================] - 1s 30us/sample - loss: 0.3631 - acc: 0.8738
Epoch 27/50
22857/22857 [==============================] - 1s 30us/sample - loss: 0.3628 - acc: 0.87370s - loss: 0.3642
Epoch 28/50
22857/22857 [==============================] - 1s 31us/sample - loss: 0.3628 - acc: 0.8737
Epoch 29/50
22857/22857 [==============================] - 1s 31us/sample - loss: 0.3627 - acc: 0.8739
Epoch 30/50
22857/22857 [==============================] - 1s 30us/sample - loss: 0.3624 - acc: 0.8738
Epoch 31/50
22857/22857 [==============================] - 1s 31us/sample - loss: 0.3625 - acc: 0.8739
Epoch 32/50
22857/22857 [==============================] - 1s 31us/sample - loss: 0.3624 - acc: 0.8743
Epoch 33/50
22857/22857 [==============================] - 1s 31us/sample - loss: 0.3622 - acc: 0.8740
Epoch 34/50
22857/22857 [==============================] - 1s 31us/sample - loss: 0.3623 - acc: 0.8740
Epoch 35/50
22857/22857 [==============================] - 1s 31us/sample - loss: 0.3621 - acc: 0.8740
Epoch 36/50
22857/22857 [==============================] - 1s 35us/sample - loss: 0.3621 - acc: 0.8739
Epoch 37/50
22857/22857 [==============================] - 1s 32us/sample - loss: 0.3619 - acc: 0.8737
Epoch 38/50
22857/22857 [==============================] - 1s 32us/sample - loss: 0.3616 - acc: 0.8736
Epoch 39/50
22857/22857 [==============================] - 1s 32us/sample - loss: 0.3616 - acc: 0.8739
Epoch 40/50
22857/22857 [==============================] - 1s 31us/sample - loss: 0.3618 - acc: 0.8738
Epoch 41/50
22857/22857 [==============================] - 1s 30us/sample - loss: 0.3617 - acc: 0.87410s - loss: 0.3669
Epoch 42/50
22857/22857 [==============================] - 1s 31us/sample - loss: 0.3614 - acc: 0.8742
Epoch 43/50
22857/22857 [==============================] - 1s 31us/sample - loss: 0.3613 - acc: 0.87390s - loss: 0.3631 -
Epoch 44/50
22857/22857 [==============================] - 1s 30us/sample - loss: 0.3612 - acc: 0.8735
Epoch 45/50
22857/22857 [==============================] - 1s 31us/sample - loss: 0.3614 - acc: 0.8736
Epoch 46/50
22857/22857 [==============================] - 1s 33us/sample - loss: 0.3614 - acc: 0.8739
Epoch 47/50
22857/22857 [==============================] - 1s 29us/sample - loss: 0.3611 - acc: 0.8734
Epoch 48/50
22857/22857 [==============================] - 1s 30us/sample - loss: 0.3610 - acc: 0.8739
Epoch 49/50
22857/22857 [==============================] - 1s 30us/sample - loss: 0.3611 - acc: 0.8736
Epoch 50/50
22857/22857 [==============================] - 1s 30us/sample - loss: 0.3611 - acc: 0.8736
7620/7620 - 0s - loss: 0.3703 - acc: 0.8723
Loss: 0.37029976150182287, Accuracy: 0.872309684753418